h1 + p{
    font-family: cursive;
}
h1 + p::first-letter{
    color: red;
    font-size: 25px;
}
h1 + p::after{
    content: ".";
    color: red;
    font-size: 25px;
}
main{
    display: flex;
    flex-direction: column;
    color: white;
    width: 80%;
    align-items: center;
    padding: 20px;
}
main p::first-letter {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1e3a5f;
    margin-right: 2px;
    line-height: 0.5;
}
main p::after {
    content: ":";
    color: #1e3a5f;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.agentes li{
    color: white;
    font-size: 16px;
}
table {
    border-color: #1e3a5f;
}
#titulo {
    background-color: #253c58;
}
.tipos_de_agentes th{
    background-color: rgb(101, 108, 131);
    color: white;
}
.agentes td{
    background-color: rgb(33, 96, 168);
}
img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}