* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: grey;
}
h1{
    text-align: center;
    color: red;
    font-size: 50px;
}
header {
    background-color: red;
    color: white;
    padding: 18px 0;
    position: sticky;
    text-align: center;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header a {
    padding: 18px 20px;
    transition: 0.2s;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header a:hover {
  background-color: rgb(230, 70, 70);
  text-decoration: underline;
  font-size: 1.1rem;
}
::selection {
    background: red;
    color: white;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 10px;
}