.boton{
    background-color: #1e3a5f;
    border-radius: 15px;
    font-family: cursive;
    color: white;
    text-decoration: none;
    padding: 12px;
    margin: 15px;
    transition: 0.3s;
}
.boton:hover {
    opacity: 0.8;
    color: red;
    text-decoration: underline;
}
p{
    font-size: 18px;
}
.imagenes {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
main {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.menu {
    background-color: #1e3a5f;
    padding: 15px;
    margin: 20px;
    position: sticky;
    border-radius: 10px;
    width: 250px;
    height: 300px;
}
.menu a, .menu li {
    color: #facc15; 
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin: 5px 0;
}
.menu a:hover {
    color: white;
    text-decoration: underline;
}
h2 {
    background-color: red;
    color: white;
}
.Contenido{
    color: white;
    width: 80%;
}
.Contenido p::first-letter {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1e3a5f;
    margin-right: 2px;
    line-height: 0.5;
}
.Contenido p::after {
    content: ".";
    color: #1e3a5f;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#excepcion::after {
    content: ":";
    font-size: 25px;
    color: #1e3a5f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Contenido ul li{
    font-size: 20px;
    color: #1e3a5f;
}
.Contenido ol li{
    font-size: 17px;
    color: #1e3a5f
}
h1 + p{
    font-family: cursive;
}
h1 + p::first-letter{
    color: red;
    font-size: 25px;
}
h1 + p::after{
    content: ".";
    color: red;
    font-size: 25px;
}
