body{
    background-color: grey;
}
#titulo_principal{
    text-align: center;
    color: white;
    background-color: red;
}
.boton{
    background-color: greenyellow;
    border-radius: 15px;
    font-family: cursive;
    color: black;
    text-decoration: none;
    padding: 12px;
    margin: 15px;
    transition: 0.3s;
}
.boton:hover {
    opacity: 0.8;
    color: red;
    text-decoration: underline;
}
p{
    font-size: 18px;
}
.imagenes {
    display: block;
    margin: 0 auto;
}
header {
    background-color: rgb(30, 197, 161);
    padding: 15px;
}
footer {
    background-color: rgb(30, 197, 161);
}
.menu {
    background-color: #1e3a5f;
    padding: 15px;
    border-radius: 10px;
    width: 220px;
}
.menu a, .menu li {
    color: #facc15; 
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin: 5px 0;
}
.menu a:hover {
    color: white;
    text-decoration: underline;
}
h2 {
    background-color: red;
    color: white;
}
table {
    border-color: #1e3a5f;
}
#titulo {
    background-color: #253c58;
}
.tipos_de_agentes th{
    background-color: rgb(101, 108, 131);
    color: white;
}
.agentes td{
    background-color: rgb(33, 96, 168);
}
main{
    color: white;
}
main p::first-letter {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1e3a5f;
    margin-right: 2px;
    line-height: 0.5;
}
main p::after {
    content: ".";
    color: #1e3a5f;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#excepcion::after {
    content: ":";
    font-size: 25px;
    color: #1e3a5f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main ul li{
    font-size: 20px;
    color: #1e3a5f;
}
main ol li{
    font-size: 17px;
    color: #1e3a5f
}
.agentes li{
    color: white;
    font-size: 16px;
}
::selection {
    background: red;
    color: white;
}
h1 + p{
    font-family: cursive;
}
h1 + p::first-letter{
    color: red;
    font-size: 25px;
}
h1 + p::after{
    content: ".";
    color: red;
    font-size: 25px;
}